.main {
  margin-left: 250px;
  margin-top: 70px;
  padding: 20px;
  background-color:#0C1227 !important;
  min-height: calc(100vh - 70px);
  /* box-shadow: 0 0 0 2px #f0f0ff inset; */
  border-bottom-left-radius: 50px;
  flex-grow: 1;
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #fefefe;
}
.p4{
    background-color: #0C1227 !important;
    z-index: 1;
}

/* body, html, .container {
  background-color: #0C1227 !important;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-y: auto;
} */

button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #060118;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
  color:#fcfcfc;
  background-color: #3e55b2;

}

button:hover {
  opacity: 0.9;
  background-color:#111C44;
}

.approval-grid {
  background-color: #111C44 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 12px !important;
}

 .MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-cell {
  color: #ccc !important;
  border-color: transparent !important;
  padding: 10px !important;
  background-color: #1B254B !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 14px !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #111C44 !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1) !important;
  color: #111C44 !important;
  border-color: #111C44 !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.MuiDataGrid-footerContainer {
  background-color: #1B254B !important;
  color: #ccc !important;
  border-color: #A3AED0 !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 14px !important;
}

.MuiDataGrid-row:hover {
  background-color: #1B254B !important;
}

.MuiTablePagination-root {
  color: #ccc !important;
}

.MuiTablePagination-root .MuiSelect-select {
  color: #ccc !important;
}

.MuiDataGrid-virtualScroller {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.MuiDataGrid-virtualScrollerContent {
  max-height: none !important;
}

/* Testing shit */
 .MuiButtonBase-root {
 color: #ffffff;
}
 .MuiSvgIcon-root {
  color: #ffffff;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 80px 100px;
  max-width: 1000px;
  width: 100%;
  justify-items: center;
}