body {
  font-family: Arial, sans-serif;

}

h3 {
  text-align: center;
  margin: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}

.grid-structure {
  display: grid;
  grid-template-columns: 19% 32.7% 23.9% 23.2%;
  gap: 5px;
}

.box {
  border: 1px solid #000;
  padding: 6px;
  font-size: 13px;
  white-space: pre-line;
  line-height: 1.0;
  min-height: 120px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background-color: #f0f0f0;
  color: #000;
  
  
}

.equal-header-row th {
  height: 70px;
  vertical-align: middle;
  
}

.column table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.column th,
.column td {
  border: 1px solid #000;
  padding: 4px;
  font-size: 11px;
}

.blank-row td {
  height: 340px;
  vertical-align: top;
  padding: 6px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: left;
  white-space: nowrap;
  font-size: 13px;
}

.figures-header {
  font-size: 10px;
  white-space: normal;
  line-height: 1.1;
  text-align: center;
}

.reduced-height th {
  height: 37.5px;
  padding: 2px 4px;
  line-height: 1.1;
}

input {
  width: 100%;
  border: none;
  font-size: 13px;
  padding: 3px;
  box-sizing: border-box;
}

input {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}