/* proceedings.css */
body {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  margin: 0;
  background: #f4f4f4;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf {
  background: white;
  padding: 19px;
  width: 183mm;              /* A4 width */
  height: 257mm;             /* A4 height */
  box-sizing: border-box;
  border: 5px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  page-break-after: always;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.underline {
  border-bottom: 1px dotted #000;
  padding: 0 5px;
}

ul {
  margin: 5px 0 15px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 15px;
  table-layout: fixed;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

th:nth-child(1), td:nth-child(1) {
  width: 10%;
}
th:nth-child(2), td:nth-child(2) {
  width: 50%;
}
th:nth-child(3), td:nth-child(3) {
  width: 15%;
}
th:nth-child(4), td:nth-child(4) {
  width: 15%;
}

.download-btn {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #004aad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ol li {
  margin-bottom: 20px;
}
thead th {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
}
