/* Container Layout */
.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


/* Main content starts below navbar */
.main {
  position: relative;
  margin-left: 16%;
  margin-top: 70px;
  padding: 20px;
  background-color:#0B1437;
  /* border-top-left-radius: 30px; */
  border-bottom-left-radius: 0px;
  z-index: 1;
  flex-grow: 1;
  background-color: #111C44;
  
  min-height: calc(100vh - 70px);
  box-shadow: 0 0 0 2px #111C44 inset;
  
}

/*profile pic and name*/

/* Cards and Layout */
.content .row.empty-box {
  background-color: white;
  height: 40px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eee;
}

.large-box {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eee;
}
