/* Main Content */
/* Main content area */
.main {
  position: relative;
  margin-left: 250px;              /* Sidebar width */
  margin-top: 70px;                /* Topbar height */
  padding: 20px;
  background-color:#0B1437;
  /* border-bottom-left-radius: 50px; */
  /* box-shadow: 0 0 0 2px #f0f0ff inset; */
  height: 80vh;                    /* 👈 Reduced height */
  overflow-y: auto;                /* 👈 Scroll only when needed */
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}




