/* === Base Styles === */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* === Main Content === */
.main {
  margin-left: 250px;
  margin-top: 70px;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: calc(100vh - 70px);
  /* box-shadow: 0 0 0 2px #f0f0ff inset; */
  border-bottom-left-radius: 50px;
  flex-grow: 1;
}


/* === Table Styling === */
h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #fefefe;
}

/* === Buttons === */
button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #060118;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
  color:#fcfcfc;
  background-color: #3e55b2;

}

button:hover {
  opacity: 0.9;
  background-color:#111C44;
}

/* Specific Buttons */

/* button:nth-child(1) {
  background-color: #1f79df; /* green */
  /* color: white;
}  */ 

/* needs to be solved ------------------------------------------------------------------------------------------ */



.logout-btn {
  width: 100%;
  padding: 8px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #c0392b;
}

/*============== SuperAdmin Approval alfahm ========= */
.superadmin-approval {
  background-color: #114412 !important;
  color: #c31515 !important;
  border: none !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 12px !important;
}
/* .superadmin-approval .MuiDataGrid-root {
  border: none !important;
} --- i have to see what this myr is */ 

.super-admin-header {
  margin-top: -35px;
  border-bottom: 1px solid rgba(246, 243, 243, 0.1) !important;
  text-align: center;
  padding: 20px;
  
  margin-bottom: 20px;
}
.super-admin-header-manage-user{
  margin-top: 200px;
  border-bottom: 1px solid rgba(246, 243, 243, 0.1) !important;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Manage Users */

.super-admin-add-user {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 20px;
}

.super-admin-add-user-button {
  background-color: #3e55b2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/*==============  grid css peri peri ========= */

.approval-grid {
  background-color: #111C44 !important;
  color: #fff !important;
  border: none !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 12px !important;
}

 .MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-cell {
  color: #ccc !important;
  border-color: transparent !important;
  padding: 10px !important;
  background-color: #1B254B !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 14px !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #111C44 !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.1) !important;
  color: #111C44 !important;
  border-color: #111C44 !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.MuiDataGrid-footerContainer {
  background-color: #1B254B !important;
  color: #ccc !important;
  border-color: #A3AED0 !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 14px !important;
}

.MuiDataGrid-row:hover {
  background-color: #1B254B !important;
}

.MuiTablePagination-root {
  color: #ccc !important;
}

.MuiTablePagination-root .MuiSelect-select {
  color: #ccc !important;
}

.MuiDataGrid-virtualScroller {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.MuiDataGrid-virtualScrollerContent {
  max-height: none !important;
}

/* Testing shit */
 .MuiButtonBase-root {
 color: #ffffff;
}
 .MuiSvgIcon-root {
  color: #ffffff;
}

