.temp-return-table {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #111c44;
  min-width: 100%;
}

.temp-return-table .MuiDataGrid-root {
  background-color: #111c44;
  color: white;
  border: none;
}

.temp-return-table .MuiDataGrid-columnHeaderTitle {
  white-space: nowrap !important;
  color: white !important;
  font-weight: 600 !important;
}

.temp-return-table .MuiDataGrid-footerContainer {
  background-color: #111c44;
  color: white;
}

.temp-return-table .MuiTablePagination-root,
.temp-return-table .MuiTablePagination-selectLabel,
.temp-return-table .MuiTablePagination-select,
.temp-return-table .MuiTablePagination-spacer {
  color: white;
}

.temp-return-table .MuiTablePagination-actions button {
  color: white !important;
}

.temp-return-table .MuiSvgIcon-root,
.temp-return-table .MuiButtonBase-root {
  color: white !important;
}